<h1>投稿が完了しました！</h1>

<h4>名前: <%= @picture.user.name %>様</h4>

<h4>投稿内容のご確認</h4>
<p>ジャンル: <%= @picture.genre %></p>
<p>内容: <%= @picture.content %></p>
<%= image_tag @picture.image.url, size: '300x300' if @picture.image? %>